/* You can add global styles to this file, and also import other style files */
.myclass
{
    position: fixed;
    top: 70px;
    max-width: 500px;
    margin: 0 auto;
  }
  .btn
  {
    padding: 10px 28px;
    font-size: 14px;
    width: 14%;
  }
