

<div class="parallax">
      <div class="container mt-3 padding mytext" align="center" >
       
        <div class="col-6 col-offset-3 padding"  >
            <h2 class="page-header">Register</h2>
          <form   (submit)="onRegisterSubmit()">
              <div class="form-group">
  
                      <label>First Name</label>
                      <input type="text" [(ngModel)]="firstName" name="firstName" size="30" class="form-control mywidth">
             
              </div>
              <div class="form-group">
                 
                      <label>Last Name</label>
                      <input type="text" [(ngModel)]="lastName" name="lastName"  size="30" class="form-control mywidth">
                
              </div>
              <div class="form-group">
                 
                      <label>Email</label>
                      <input type="text" [(ngModel)]="email" name="email" size="30" class="form-control mywidth" >
               
              </div>
              <div class="form-group">
                 
                      <label>Password</label>
                      <input type="password" [(ngModel)]="password" name="password" size="30" class="form-control mywidth">
              
              </div>
              <input type="submit" class="btn btn-success" value="Submit">
              <br>
              <br>
              <p>Already have a account ?  <a [routerLink]="['/login']">Login Here</a><br>
              </p> 
            </form>
        </div>
      </div>
</div>

