

<div class="container mt-3 padding">
  
  <h2>
    Show Task
  </h2>

<table class="table table-bordered text-center">
    <thead>
        <tr>
          <td>TaskId</td>
          <td>TaskName</td>
          <td>TaskClientName</td>
          <td>TaskDescription</td>
          <td  align="center">Action</td>
        </tr>
    </thead>
  <tbody>
      <tr  *ngFor="let task of tasks">
            <td>	{{task.taskId}}	 </td>
            <td>	{{task.taskName}} </td>
            <td>	{{task.taskClientName}} </td>
            <td>	{{task.taskDesc}} </td>
            <td > 
                  <a 	routerLink="/detailtask/{{task._id}}"><i class="fas fa-2x fa-info-circle"></i></a> 
                  <a  routerLink="/edittask/{{task._id}}"><i class="fas fa-2x fa-pencil-alt"></i></a>
                  <a  routerLink="/showtask"		(click)=" ondeleteClick(task._id)" ><i class="fas fa-2x fa-trash"></i></a>
            </td>
      </tr>
  </tbody>
</table>

 <a class="btn btn1 btn-primary"  		routerLink="/addtask">AddTask</a>
 <a class="btn btn1 btn-dark"  		routerLink="/dashboard">GoBack</a>
</div>
